/**
 * Less helpers and variables
 */
.relative {
  position: relative;
}
@media (max-width: 768px) {
  .no-mobile-padding {
    padding-left: 0;
    padding-right: 0;
  }
}
body,
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a[data-type="definition"] {
  color: #fff;
  padding: 2px 5px;
  position: relative;
  transition: all 200ms ease-in-out;
}
a[data-type="definition"]:hover {
  color: var(--main-expo-color);
  background: transparent !important;
}
h1,
h2,
h3 {
  font-family: 'Lora', sans-serif;
}
blockquote {
  font-family: 'Lora', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
}
blockquote cite {
  color: #9699a2;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  display: block;
}
figcaption {
  color: #9699a2;
  font-size: 14px;
  text-align: center;
  max-width: 70%;
  margin: .5em auto 1em auto;
}
@media (max-width: 768px) {
  figcaption {
    width: 100%;
  }
}
.has-drop-cap:not(:focus):first-letter {
  font-size: 6.2em;
  font-weight: 200;
}
.has-inline-color.has-expo-color-color {
  color: var(--main-expo-color);
}
.wp-block-gallery,
.blocks-gallery-grid {
  justify-content: center;
}
.wp-block-gallery .blocks-gallery-item img,
.blocks-gallery-grid .blocks-gallery-item img {
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  opacity: 1;
  filter: alpha(opacity=1 * 100);
}
.wp-block-gallery .blocks-gallery-item img:hover,
.blocks-gallery-grid .blocks-gallery-item img:hover {
  cursor: pointer;
  opacity: 0.7;
  filter: alpha(opacity=0.7 * 100);
}
.blocks-gallery-grid .blocks-gallery-image figcaption,
.blocks-gallery-grid .blocks-gallery-item figcaption,
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
  padding: 0;
  font-size: 14px;
  margin-bottom: 0;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.wp-block-image img {
  height: auto;
}
@media (max-width: 768px) {
  .wp-block-image {
    text-align: center;
  }
}
.wp-block-media-text img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.wp-block-pullquote {
  padding-top: 0;
}
.wp-block-buttons .wp-block-button .wp-block-button__link {
  background: #f3f3f3;
  color: rgba(0, 0, 0, 0.9);
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  border-radius: 0;
  padding-right: 50px;
  position: relative;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
}
.wp-block-buttons .wp-block-button .wp-block-button__link:hover {
  background: #ececec;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.wp-block-buttons .wp-block-button .wp-block-button__link:hover:before {
  width: 100%;
}
.wp-block-buttons .wp-block-button .wp-block-button__link:before {
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  content: "";
  background: var(--main-expo-color);
  transition: all 200ms ease-in-out;
  z-index: 0;
}
.wp-block-buttons .wp-block-button .wp-block-button__link:after {
  content: "\f344";
  font-family: dashicons;
  color: var(--main-expo-color);
  font-size: 25px;
  position: absolute;
  right: 11px;
  font-weight: normal;
}
.wp-block-file a {
  color: #1a1715;
  font-family: 'Lora', sans-serif;
  font-size: 24px;
  display: block;
  position: relative;
  padding: 20px;
  padding-top: 60px;
  background: #f3f3f3;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  text-decoration: none !important;
}
.wp-block-file a:hover {
  background: #ececec;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  color: #1a1715 !important;
  opacity: 1 !important;
  filter: alpha(opacity=1 * 100) !important;
}
.wp-block-file a:hover:after {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  background: var(--main-expo-color);
  color: #fff;
  transform: translateY(-50%) rotate(180deg);
  transform-origin: center;
}
.wp-block-file a:before {
  content: "\f177 \00a0 CONSULTER";
  color: var(--main-expo-color);
  font-family: 'dashicons', 'Lato', sans-serif;
  position: absolute;
  top: 20px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
}
.wp-block-file a:after {
  content: "\f543";
  font-family: 'dashicons';
  line-height: 50px;
  font-size: 20px;
  border-radius: 100%;
  color: var(--main-expo-color);
  border: solid 1px var(--main-expo-color);
  position: absolute;
  right: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  top: 50%;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  transform: translateY(-50%) rotate(0deg);
  transform-origin: center;
}
@media (max-width: 768px) {
  .wp-block-file {
    margin-bottom: 0;
  }
  .wp-block-file a {
    font-size: 20px;
    padding-top: 45px;
    padding-right: 75px;
  }
}
.wp-block-file .wp-block-file__button {
  display: none;
}
h1,
h2,
h3 {
  font-weight: 500;
}
figcaption {
  max-width: 100%;
}
.wp-block:not([data-type="expo/home"]) {
  max-width: 720px;
}
.wp-block:not([data-type="expo/home"]) p {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #1a1715;
}
.wp-block:not([data-type="expo/home"]) a {
  text-decoration: none;
  background-color: transparent;
}
.wp-block:not([data-type="expo/home"]) a:hover {
  text-decoration: none;
}
.wp-block:not([data-type="expo/home"]) a[data-type="definition"] {
  color: #fff;
  padding: 2px 5px;
}
