@lato: 'Lato', sans-serif;
@lora: 'Lora', sans-serif;

@import "./imports/helpers.less";
@import "./imports/common.less";

h1, h2, h3 {
	font-weight: 500;
}

figcaption {
	max-width: 100%;
}

.wp-block:not([data-type="expo/home"]) {
	max-width: 720px;
	p {
		font-size: 14px;
		font-family: @lato;
		color: #1a1715;
	}
	a {
		text-decoration: none;
		background-color: transparent;
		&:hover {
			text-decoration: none;
		}
		&[data-type="definition"] {
			color: #fff;
			padding: 2px 5px;
		}
	}
}