@import "./imports/helpers.less";
@import "./imports/common.less";

@lato: 'Lato', sans-serif;
@lora: 'Lora', serif;

body, html {
	min-height: 100%;
}

.btn {
	.border-radius(0px);
	margin-top: 32px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	padding: .6rem .75rem;
	position: relative;
	&:after {
		width: 0;
		position: absolute;
		left: 0;
		bottom: 0;
		height: 100%;
		content: "";
		background: var(--main-expo-color);
		transition: all 200ms ease-in-out;
		z-index: 0;
	}
	&:hover {
		a {
			color: #fff;
		}
		&:after {
			width: 100%;
		}
	}
	&:focus {
		.box-shadow(none);
	}
	a {
		position: relative;
		z-index: 1;
		transition: all 200ms ease-in-out;
	}
}

.swiper-nav {
	width: 56px;
	height: 56px;
	text-align: center;
	&:focus {
		outline: none;
	}
	span {
		color: #ffffff;
		line-height: 56px;
	}
}

.anchor {
	&:hover {
		cursor: pointer;
	}
}

.definition_placeholder {
	display: none;
}

.play_icon {
	border: solid 1px rgba(174, 138, 62, 0.9);
	.border-radius(100%);
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	transform: translate(-50%, -50%);
	.dashicons-controls-play {
		color: #fff;
		transform: translate(7%, 44%);
	}
}

.swiper_nomargin_cont {
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 80px;
	.swiper_element_cont {
		.swiper-container {
			margin: auto;
			padding: 0;
			.swiper-slide {
				width: 680px;
				height: auto;
				@media (max-width: 768px) {
					width: 100%;
				}
				&:hover {
					cursor: grab;
				}
				&.swiper-slide-prev, &.swiper-slide-next {
					opacity: 0.4;
					.transition(opacity 200ms ease-in-out);
				}
				img {
					height: 100%;
					object-fit: cover;
				}
			}

		}
		.swiper-button-prev, .swiper-button-next {
			bottom: 20px;
			top: auto;
			background: transparent;
			border: solid 1px;
			width: 44px;
			height: 44px;
			&:before, &:after {
				font-family: 'dashicons';
				font-size: 16px;
				position: absolute;
				.transition(all 100ms ease-in-out);
			}
			&:hover {
				&.swiper-button-prev {
					&:before {
						color: #fff;
					}
					&:after {
						height: 44px;
					}
				}
				&.swiper-button-next {
					&:before {
						height: 44px;
					}
					&:after {
						color: #fff;
					}
				}
			}
			&:focus {
				outline: none;
			}
			span {
				position: absolute;
				width: 75px;
				@media (max-width: 768px) {
					display: none;
				}
			}
			&.swiper-button-prev {
				@media (max-width: 768px) {
					left: 0;
				}
				&:before {
					content: "\f340";
				}
				&:after {
					content: "";
					height: 0;
					background: var(--main-expo-color);
					left: 0;
					bottom: 0;
					width: 44px;
					z-index: -1;
				}
				span {
					left: 60px;
				}
			}
			&.swiper-button-next {
				@media (max-width: 768px) {
					right: 0;
				}
				&:before {
					content: "";
					height: 0;
					background: var(--main-expo-color);
					left: 0;
					bottom: 0;
					width: 44px;
					z-index: -1;
				}
				&:after {
					content: "\f344";
				}
				span {
					right: 40px;
				}
			}
		}
		.figcaption_cont {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
			width: 70%;
			z-index: 2;
			@media (max-width: 768px) {
				min-height: 45px;
			}
			figcaption {
				display: block;
				position: relative;
				margin-bottom: 0;
				bottom: 0;
				color: #9699a2;
			}
		}
	}
}

.plyr--audio .plyr__controls {
	--plyr-color-main: var(--main-expo-color);
	--plyr-audio-control-color: var(--main-expo-color);
	background: #f3f3f3;
	.plyr__time--current {
		color: rgba(26, 23, 21, 0.3);
	}
}

.plyr--video {
	.plyr__controls {
		--plyr-color-main: var(--main-expo-color);
	}
	.video_overlay {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(179, 179, 179, 0.7);
		.transition(background 500ms ease-in-out);
		z-index: 3;
		cursor: pointer;
		&:hover {
			background: rgba(179, 179, 179, 0.3);
		}
		span {
			color: #fff;
			font-size: 40px;
			display: block;
			margin: auto;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			height: auto;
			width: auto;
		}
	}
}

.no_posts {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
	width: 100%;
}

body {
	font-size: 16px;
	line-height: 24px;
	font-family: @lato;
	color: #1a1715;
	&.home, &.single, &.single-chapitre, &.page-template-template-parcours, &.blog, &.page, &.error404 {
		.overlay_cont {
			position: relative;
			height: var(--app-height);
			top: -60px;
			.overlay {
				height: var(--app-height);
				width: 100vw;
				position: fixed;
				top: 0;
				z-index: 0;
				background-color: #9699a2;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				background-attachment: fixed;
				&:before {
					position: absolute;
					height: 100%;
					width: 100%;
					top: 0;
					left: 0;
					content: "";
					transition: opacity 500ms ease-in-out;
					opacity: 0;
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					background-attachment: unset;
				}
				&:after {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					content: "";
					background-image: radial-gradient(circle at 48% 42%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.06) 18%, rgba(0, 0, 0, 0.2) 73%, rgba(0, 0, 0, 0.65) 94%);
					transition: opacity 500ms ease-in-out;
					opacity: 0;
				}
				&.animated {
					&:before, &:after {
						opacity: 1;
					}
				}
				img {
					position: absolute;
					left: 0;
					right: 0;
					height: 100%;
					width: 100%;
					opacity: 0;
					&.animated {
						opacity: 1;
					}
				}
				&.hide {
					background: #9699a2;
					&:after {
						display: none;
					}
				}
				.titles {
					text-align: center;
					font-family: @lora;
					color: #ffffff;
					word-break: break-word;
					z-index: 2;
					.site-title {
						font-size: 70px;
						@media (max-width: 768px) {
							font-size: 40px;
						}
					}
					.site-description {
						font-size: 21px;
					}
					.subtitle {
						font-family: @lato;
						font-size: 14px;
						font-weight: bold;
						text-align: center;
						color: #ffffff;
						text-transform: uppercase;
						letter-spacing: 0.83px;
					}
					.accroche_video {
						margin: auto;
						margin-top: 60px;
						@media (max-width: 768px) {
							margin-top: 0;
						}
						background: #1e1a18;
						padding: 8px;
						min-height: 96px;
						position: relative;
						z-index: 1;
						overflow: hidden;
						&:before {
							content: "";
							position: absolute;
							z-index: -1;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							background: var(--main-expo-color);
							.transform(scaleY(0));
							-webkit-transform-origin: 50%;
							transform-origin: 50%;
							.transition(transform 200ms ease-out);
						}
						&:hover {
							.title {
								color: #fff;
							}
							&:before {
								.transform(scaleX(1));
							}
						}
						a {
							color: #fff;
							display: block;
							.row {
								height: 100%;
								overflow: hidden;
								& > * {
									padding-left: 4px;
									&.video_cont {
										height: 100%;
										padding-left: 0;
										position: relative;
										@media (min-width: 769px) {
											padding-right: 4px;
										}
										video {
											width: 100%;
											display: block;
										}
									}
									p {
										margin: 0;
										text-align: left;
										&.title {
											text-transform: uppercase;
											font-size: 11px;
											font-weight: bold;
											letter-spacing: 0.75px;
										}
										&.subtitle {
											font-size: 17px;
											font-family: @lora;
											font-weight: 500;
											text-transform: none;
										}
										@media (max-width: 768px) {
											text-align: center;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		#main_content {
			position: relative;
			background: #fff;
			padding-top: 20px;
			overflow-wrap: anywhere;
		}
	}
}

@import "./imports/header.less";
@import "./imports/footer.less";
@import "./imports/single.less";
@import "./imports/archive.less";
@import "./imports/home.less";
@import "./imports/single-post.less";
@import "./imports/single-chapitre.less";
@import "./imports/single-oeuvre.less";
@import "./imports/single-temoignage.less";
@import "./imports/template-agenda-borne.less";
@import "./imports/template-lecteur-video.less";
@import "./imports/navigation.less";
@import "./imports/modal.less";
@import "./imports/borne.less";