body {
	&.page-template-template-parcours, &.blog, &.single, &.page:not(.home), &.error404 {
		.overlay_cont {
			height: 280px;
			.overlay {
				height: 340px;
			}
		}
		&.single-oeuvre .content {
			padding: 20px;
		}
		.oeuvres_cont, .posts_cont {
			.oeuvre {
				margin-bottom: 20px;
				height: 200px;
				display: block;
				position: relative;
				&:hover {
					h2 {
						background: var(--main-expo-color);
						color: #fff;
						span {
							&.link {
								color: #fff;
							}
						}
					}
					img {
						.opacity(0.8);
						.transition(opacity 200ms linear);
					}
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				h2 {
					position: absolute;
					bottom: 0;
					margin-bottom: 0;
					background: #fff;
					width: 50%;
					font-family: @lora;
					font-size: 20px;
					font-weight: 500;
					color: #1a1715;
					padding: 10px;
					span {
						display: block;
						font-family: @lato;
						font-size: 14px;
						font-weight: normal;
						margin-top: 10px;
						&.meta {
							color: #fff;
							padding: 10px;
							position: absolute;
							top: -40px;
							left: 0;
							text-transform: uppercase;
							max-width: 100%;
						}
						&.places {
							font-size: 12px;
							&:before {
								content: "\f230";
								font-family: 'dashicons';
								position: relative;
								display: inline-block;
								margin-right: 5px;
								vertical-align: middle;
							}
						}
						&.link {
							font-size: 11px;
							text-transform: uppercase;
							font-weight: bold;
							letter-spacing: 1.1px;
						}
					}
				}
				@media (max-width: 768px) {
					height: unset;
					h2 {
						position: relative;
						width: 100%;
					}
				}
			}
		}
	}
}