body {
	&.borne {
		p {
			font-size: 1.2em;
		}
		.wp-block-gallery .blocks-gallery-image,
		.wp-block-gallery .blocks-gallery-item {
			img.show {
				cursor: unset !important;
			}
			figcaption,
			a,
			a[data-type="definition"] {
				top: 00%;
				height: 100%;
				align-content: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
				background-color: rgba(0,0,0,0.3) !important;
				a {
					color: var(--main-expo-color);
					font-size: 20px;
					&:hover {
						color: #fff;
						background-color: var(--main-expo-color) !important;
					}
				}
				figcaption:hover {
					background-color: transparent !important;
				}
			}
		}
	}
}