body, html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
	&[data-type="definition"] {
		color: #fff;
		padding: 2px 5px;
		position: relative;
		transition: all 200ms ease-in-out;
		&:hover {
			color: var(--main-expo-color);
			background: transparent !important;
		}
	}
}

h1, h2, h3 {
	font-family: @lora;
}

blockquote {
	font-family: @lora;
	font-size: 20px;
	line-height: 1.6;
	color: rgba(0, 0, 0, 0.9);
	text-align: center;
	cite {
		color: #9699a2;
		text-align: center;
		font-family: @lato;
		font-size: 14px;
		line-height: 1.71;
		display: block;
	}
}

figcaption {
	color: #9699a2;
	font-size: 14px;
	text-align: center;
	max-width: 70%;
	margin: .5em auto 1em auto;
	@media (max-width: 768px) {
		width: 100%;
	}
}

.has-drop-cap:not(:focus):first-letter {
	font-size: 6.2em;
	font-weight: 200;
}

.has-inline-color.has-expo-color-color {
	color: var(--main-expo-color);
}

.wp-block-gallery, .blocks-gallery-grid {
	justify-content: center;
	.blocks-gallery-item {
		img {
			.transition(all 200ms linear);
			.opacity(1);
			&:hover {
				cursor: pointer;
				.opacity(0.7);
			}
		}
	}
}

.blocks-gallery-grid .blocks-gallery-image figcaption,
.blocks-gallery-grid .blocks-gallery-item figcaption,
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
	padding: 0;
	font-size: 14px;
	margin-bottom: 0;
	max-width: 100%;
	background: rgba(0, 0, 0, 0.4);
}

.wp-block-image {
	img {
		height: auto;
	}
	@media (max-width: 768px) {
		text-align: center;
	}
}

.wp-block-media-text {
	img {
		max-width: 100%;
		height: auto;
		object-fit: cover;
	}
}

.wp-block-pullquote {
	padding-top: 0;
}

.wp-block-buttons {
	.wp-block-button {
		.wp-block-button__link {
			background: #f3f3f3;
			color: rgba(0, 0, 0, 0.9);
			font-size: 11px;
			font-weight: bold;
			letter-spacing: 1.1px;
			text-transform: uppercase;
			border-radius: 0;
			padding-right: 50px;
			position: relative;
			.transition(all 500ms ease-in-out);
			line-height: 24px;
			font-family: @lato;
			&:hover {
				background: #ececec;
				.transition(all 500ms ease-in-out);
				&:before {
					width: 100%;
				}
			}
			&:before {
				width: 0;
				position: absolute;
				left: 0;
				bottom: 0;
				height: 4px;
				content: "";
				background: var(--main-expo-color);
				transition: all 200ms ease-in-out;
				z-index: 0;
			}
			&:after {
				content: "\f344";
				font-family: dashicons;
				color: var(--main-expo-color);
				font-size: 25px;
				position: absolute;
				right: 11px;
				font-weight: normal;
			}
		}
	}
}

.wp-block-file {
	a {
		color: #1a1715;
		font-family: @lora;
		font-size: 24px;
		display: block;
		position: relative;
		padding: 20px;
		padding-top: 60px;
		background: #f3f3f3;
		.transition(all 500ms ease-in-out);
		text-decoration: none !important;
		&:hover {
			background: #ececec;
			.transition(all 500ms ease-in-out);
			color: #1a1715 !important;
			.opacity(1) !important;
			&:after {
				.transition(all 500ms ease-in-out);
				background: var(--main-expo-color);
				color: #fff;
				transform: translateY(-50%) rotate(180deg);
				transform-origin: center;
			}
		}
		&:before {
			content: "\f177 \00a0 CONSULTER";
			color: var(--main-expo-color);
			font-family: 'dashicons', @lato;
			position: absolute;
			top: 20px;
			font-size: 12px;
			font-weight: bold;
			letter-spacing: 1px;
		}
		&:after {
			content: "\f543";
			font-family: 'dashicons';
			line-height: 50px;
			font-size: 20px;
			border-radius: 100%;
			color: var(--main-expo-color);
			border: solid 1px var(--main-expo-color);
			position: absolute;
			right: 20px;
			width: 50px;
			height: 50px;
			text-align: center;
			top: 50%;
			.transition(all 500ms ease-in-out);
			transform: translateY(-50%) rotate(0deg);
			transform-origin: center;
		}
	}
	@media (max-width: 768px) {
		margin-bottom: 0;
		a {
			font-size: 20px;
			padding-top: 45px;
			padding-right: 75px;
		}
	}
	.wp-block-file__button {
		display: none;
	}
}