body {
	.footer_cont {
		background: #000000;
		position: relative;
		&.no-footer {
			display: none;
		}
		section {
			padding: 0;
		}
		.credits, .partenaires {
			padding: 60px 0;
		}
		.credits {
			background: #1a1715;
			.bloc {
				color: #fff;
				text-align: center;
				padding: 40px;
				font-family: @lato;
				font-size: 1.3em;
				h3 {
					font-family: @lora;
					font-size: 24px;
					font-weight: 600;
				}
				p {
					margin-top: 20px;
					font-size: 14px;
				}
				.btn {
					background: #fff;
					border: solid 1px transparent;
					&:hover {
						border-color: #fff;
						color: #fff;
						background: transparent;
					}
				}
				a.rosalis_link {
					&:hover {
						svg {
							path {
								fill: var(--main-expo-color);
							}
						}
					}
				}
				svg {
					display: block;
					margin: auto;
					margin-top: 20px;
					path {
						fill: #fff;
					}
				}
			}
		}
		.partenaires {
			padding-top: 0;
			padding-bottom: 0;
			border: solid 0 rgba(243, 243, 243, 0.2);
			border-top-width: 1px;
			background: #1a1715;
			text-align: center;
			h2 {
				margin-top: 20px;
				font-size: 24px;
				color: #fff;
				text-align: center;
			}
			.trigger_expand_partenaires {
				cursor: pointer;
				margin-bottom: 20px;
				position: relative;
				transition: all 500ms ease-in-out;
				top: 0;
				&:hover {
					top: 5px;
				}
				&.open {
					.rotate(180deg);
				}
			}
			.partenaires_list {
				height: 0;
				overflow: hidden;
				background: #fff;
				&.expanded {
					height: 100%;
				}
				@import "./swiper.less";
				.prev, .next {
					span {
						&:hover {
							&:before {
								background: var(--main-expo-color);
							}
						}
					}
					&.next {
						.swiper-nav {
							text-align: center;
						}
					}
				}
				@media (max-width: 768px) {
					.swiper-wrapper {
						display: block;
					}
				}
				.partenaire_cont {
					margin-top: 40px;
					margin-bottom: 40px;
					height: 100%;
					@media (max-width: 768px) {
						margin-top: 10px;
						margin-bottom: 10px;
					}
					.partenaire {
						height: 150px;
						display: flex;
						align-items: center;
						justify-content: center;
						@media (max-width: 768px) {
							height: auto;
						}
						a {
							@media (max-width: 768px) {
								width: 100%;
							}
							&:hover {
								img {
									.opacity(0.7);
								}
							}
						}
						img {
							.transition(all 0.3s ease-in-out);
							.opacity(1);
							@media (max-width: 768px) {
								height: auto;
							}
							max-height: 100px;
							width: auto;
						}
					}
				}
			}
		}
		footer {
			@media (max-width: 768px) {
				padding: 20px 0 0 0;
			}
			nav.nav-footer {
				line-height: 90px;
				@media (max-width: 768px) {
					line-height: 24px;
				}
				ul {
					height: 100%;
					display: block;
					margin: 0;
					padding: 0;
					list-style-type: none;
					li {
						display: inline-block;
						color: #fff;
						height: 90px;
						line-height: 90px;
						vertical-align: top;
						margin: 0 10px;
						font-size: 14px;
						@media (max-width: 576px) {
							line-height: 14px;
							height: auto;
							text-align: center;
							margin-bottom: 20px;
							display: block;
						}
						a {
							color: #fff;
							padding: 0;
							&:hover {
								opacity: 0.8;
							}
						}
					}
				}
			}
			.logo_mairie {
				position: absolute;
				bottom: 0;
				right: 0;
				@media (max-width: 576px) {
					margin: auto;
					text-align: center;
					position: unset;
				}
				a {
					display: block;
				}
			}
		}
		@media (max-width: 768px) {
			.credits, .partenaires {
				padding: 30px 0;
				@media (max-width: 768px) {
					padding: 0;
				}
			}

			.credits {
				.bloc {
					padding: 20px;
				}
				.btn {
					margin-top: 20px;
				}
			}
		}
	}
}