body {
	header {
		position: -webkit-sticky;
		position: sticky;
		z-index: 100;
		width: 100%;
		top: 0;
		#rosalis_header {
			color: #fff;
			height: 40px;
			line-height: 40px;
			background-color: rgba(26, 23, 21, 0.5);
			top: 0;
			z-index: 1;
			.rosalis {
				a {
					display: block;
					color: #ffffff;
					opacity: 0.8;
					font-size: 11px;
					> * {
						display: inline-block;
						vertical-align: middle;
					}
					span {
						position: relative;
						top: 2px;
						@media (max-width: 576px) {
							display: none;
						}
					}
				}
			}
		}
		#menu_header {
			position: relative;
			&:before {
				content: "";
				background: transparent;
				height: 100%;
				top: 0;
				width: 100%;
				position: absolute;
				.transition(all 0.3s ease-in-out);
				.opacity(1);
			}
		}
		&.sticky {
			#menu_header {
				&:before {
					height: 100% !important;
					opacity: 1 !important;
				}
			}
			&.sticky-black {
				#menu_header {
					&:before {
						background: #000;
					}
				}
			}
			&.sticky-white {
				#menu_header {
					&:before {
						background: #fff;
					}
				}
			}
		}
		&.transparent {
			#menu_header {
				&:before {
					background: transparent;
				}
			}
		}
		&.white {
			#menu_header {
				&:before {
					background: #fff;
				}
			}
		}
		.header-title {
			font-family: @lora;
			font-weight: 500;
			color: #fff;
			font-size: 16px;
			text-align: center;
		}
	}
	#breadcrumbs_header {
		background: #f3f3f3;
		height: 40px;
		position: relative;
		line-height: 36px;
		padding-left: 20px;
		@media (max-width: 768px) {
			padding: 10px 0;
			height: auto;
			line-height: initial;
		}
		nav#breadcrumbs {
			ul {
				list-style-type: none;
				padding: 0;
				margin: 0;
				li {
					display: inline-block;
					color: #1a1715;
					font-size: 11px;
					margin-right: 30px;
					text-transform: uppercase;
					@media (max-width: 768px) {
						margin-right: 20px;
					}
					> * {
						display: block;
						position: relative;
						&:after {
							content: "\f344";
							font-family: 'dashicons';
							position: absolute;
							right: -20px;
							@media (max-width: 768px) {
								right: -15px;
							}
						}
					}
					&:last-child {
						> *:after {
							display: none;
						}
					}
					a {
						font-weight: 800;
						color: #1a1715;
						&:hover {
							color: var(--main-expo-color);
							&:after {
								color: #1a1715;
							}
						}
					}
					span {
						.opacity(0.75);
						font-weight: 800;
					}
				}
			}
		}
	}
}

@import "./menu.less";