/**
 * Less helpers and variables
 */

@root: "../";
@images: "../images";

//============================================================
// Transitions
//============================================================
.transition(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-ms-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}

.transition-delay(@delay1, @delay2, @delay3) {
	-webkit-transition-delay: @delay1, @delay2, @delay3;
	-moz-transition-delay: @delay1, @delay2, @delay3;
	-ms-transition-delay: @delay1, @delay2, @delay3;
	-o-transition-delay: @delay1, @delay2, @delay3;
	transition-delay: @delay1, @delay2, @delay3;
}

//============================================================
// Animations
//============================================================
.animation(@animation) {
	-webkit-animation: @animation;
	-moz-animation: @animation;
	-ms-animation: @animation;
	-o-animation: @animation;
	animation: @animation;
}

//============================================================
// Transforms
//============================================================
.transform(@transform) {
	-webkit-transform: @transform;
	-moz-transform: @transform;
	-ms-transform: @transform;
	-o-transform: @transform;
	transform: @transform;
}

.rotate(@degrees) {
	-webkit-transform: rotate(@degrees);
	-moz-transform: rotate(@degrees);
	-ms-transform: rotate(@degrees);
	-o-transform: rotate(@degrees);
	transform: rotate(@degrees);
}

//============================================================
// Misc
//============================================================

.opacity(@opacity) {
	opacity: @opacity;
	@opacity-ie: @opacity * 100;
	filter: ~"alpha(opacity=@{opacity-ie})"; // IE8
}

.blur(@blur) {
	-webkit-filter: blur(@blur);
	-moz-filter: blur(@blur);
	-o-filter: blur(@blur);
	-ms-filter: blur(@blur);
	filter: blur(@blur);
}

.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.box-shadow(@shadow) {
	-webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
	box-shadow: @shadow;
}

.box-sizing(@sizing) {
	-webkit-box-sizing: @sizing;
	-moz-box-sizing: @sizing;
	box-sizing: @sizing;
}

.width-calc(@calc) {
	width: -moz-calc(@calc);
	width: -webkit-calc(@calc);
	width: calc(@calc);
}

.height-calc(@calc) {
	height: -moz-calc(@calc);
	height: -webkit-calc(@calc);
	height: calc(@calc);
}

.clearfix() {
	&::after {
		display: block;
		content: "";
		clear: both;
	}
}

.relative {
	position: relative;
}

.no-mobile-padding {
	@media (max-width: 768px) {
		padding-left: 0;
		padding-right: 0;
	}
}