body.home {
	header {
		#menu_header {
			&:before {
				height: 0;
			}

		}
	}
	.overlay_cont {
		margin-top: -100px;
		.overlay {
			&:after {
				background-image: none;
				//background-color: rgba(0,0,0,0.0);

				animation-name: background;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;
				animation-duration: var(--overlay-duration);
				animation-delay: var(--overlay-delay);
				@keyframes background {
					0% {
						background-color: rgba(0,0,0,0.0);
					}
					100% {
						background-color: var(--overlay-opacity);
					}
				}
			}
			&.animated {
				&:after {
					//transition: background-color 10000ms ease-in-out;
					//background-color: rgba(0,0,0,0.0);
					//background-image: none;
					//background-color: rgba(0,0,0,0.3);
				}
			}
		}
	}
	.anchor {
		background: #1a1715;
		width: 48px;
		height: 48px;
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 10%;
		.transition(all 200ms ease-in-out);
		span {
			color: #ffffff;
			line-height: 48px;
		}
		@media (max-width: 768px) {
			left: 0;
		}
	}
	.home_news_block {
		height: 48px;
		position: absolute;
		right: 0;
		bottom: 0;
		font-weight: bold;
		z-index: 1;
		width: 420px;
		.transition(all 200ms ease-in-out);
		&:hover {
			background: #000;
			.row .news {
				color: #fff;
			}
		}
		.row {
			height: 100%;
			.news {
				color: #1a1715;
				.transition(all 200ms ease-in-out);
				p {
					font-size: 12px;
					line-height: 18px;
					margin: 0;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					&:last-child {
						font-weight: normal;
						font-size: 14px;
					}
				}
			}
			.plus {
				color: #fff;
				font-size: 11px;
				@media (max-width: 768px) {
					text-align: center;
					line-height: 15px;
					font-size: 7px;
				}
			}
		}
	}
	#main_content {
		padding-top: 0;
	}
}