nav.nav {
	position: fixed;
	z-index: 9;
	opacity: 0;
	.transition(all 300ms ease-in-out);
	transform: translateX(-100%);
	padding-bottom: 30px;
	width: 100vw;
	height: var(--app-height);
	top: 0;
	left: 0;
	background-color: #fff;
	&.nav_chapitre {
		transform: translateX(100%);
		top: 60px;
		background-color: rgba(255, 255, 255, 0);
	}
	ul {
		margin: auto;
		padding: 0;
		list-style-type: none;
		text-align: center;
		&.nav-list {
			margin-top: 100px;
			width: 100%;
			height: calc(100% - 100px);
			overflow: auto;
			padding: 15px;
		}
		&.sub-menu {
			margin-top: 30px;
		}
		li {
			list-style-type: none;
			display: block;
			width: 100%;
			&:first-child {
				span {
					&:before {
						display: none;
					}
				}
			}
			> span, a.overtitle-link {
				& > span {
					color: #1a1715;
				}
				font-size: 12px;
				letter-spacing: 1.5px;
				text-transform: uppercase;
				opacity: 0.6;
				font-family: @lato;
				font-weight: bold;
				display: block;
				margin-bottom: -15px;
				&.overtitle-link {
					font-weight: bold;
					font-size: 16px;
					color: #1a1715;
					text-transform: uppercase;
					opacity: 1;
					letter-spacing: 2px;
				}
				&:hover {
					text-decoration: none;
					cursor: auto;
					&.overtitle-link {
						cursor: pointer;
					}
				}
				&:before {
					content: "";
					display: block;
					height: 1px;
					width: 10%;
					position: relative;
					background: rgba(26, 23, 21, 0.3);
					margin: 20px auto;
				}
			}
			a {
				font-family: @lora;
				font-size: 20px;
				font-weight: 500;
				display: inline-block;
				&:hover, &[aria-expanded="true"] {
					text-decoration: none;
					color: #1a1715;
					&:after {
						color: #1a1715;
					}
				}
			}
			ul {
				li {
					padding: 0;
					margin: 0 auto 15px auto;
				}
			}
			&.menu-item-has-children {
				> a {
					&:after {
						content: "\f343";
						font-family: 'dashicons';
						margin-left: 10px;
						position: relative;
						top: 4px;
						color: var(--main-expo-color);
					}
					&.collapsed {
						&:after {
							content: "\f347";
						}
					}
				}
				ul li {
					padding-top: 15px;
					margin-bottom: 0;
					a {
						font-size: 18px;
					}
				}
			}
		}
	}
}

.menu_header(@color) {
	#menu_header {
		.menu_cont {
			.nav-toggle {
				p.nav_icon {
					span {
						background-color: @color;
						&:before, &:after {
							background: @color;
						}
					}
				}
				p.nav_text {
					color: @color;
				}
			}
		}
		.header-title {
			color: @color;
		}
		.chapitre_cont .chapitre-nav-toggle {
			color: @color;
		}
	}
}

body {
	&.nav-active {
		overflow: hidden;
		nav.nav {
			opacity: 1;
		}
		header {
			&.open-white {
				#menu_header {
					&:before {
						background: #fff;
					}
					.header-title {
						color: #1a1715;
					}
					.chapitre_cont .chapitre-nav-toggle {
						color: #1a1715;
					}
				}
			}
		}
		&.menu-nav-active {
			nav.nav.nav_menu {
				transform: translateX(0);
			}
		}
		&.chapitre-nav-active {
			.menu_header(#1a1715);
			nav.nav.nav_chapitre {
				background-color: rgba(255, 255, 255, 0.95);
				transform: translateX(0);
			}
			.chapitre_cont .chapitre-nav-toggle p.caret span {
				.rotate(180deg);
				transform-origin: 50% 40%;
			}
		}
		&:not(.chapitre-nav-active) {
			header {
				#menu_header {
					.menu_cont {
						.nav-toggle {
							p.nav_icon {
								span {
									background-color: transparent;
									&:before, &:after {
										background: #fff;
									}
								}
							}
							p.nav_text {
								color: #1a1715;
							}
						}
					}
				}
				&.sticky {
					&.sticky-open-black {
						#menu_header .menu_cont {
							.nav-toggle {
								.nav_text {
									color: #1a1715;
								}
								.nav_icon {
									span {
										&:before, &:after {
											background: #fff;
										}
									}
								}
							}
						}
					}
					&.sticky-open-white {
						#menu_header .menu_cont {
							.nav-toggle {
								.nav_text {
									color: #1a1715;
								}
								.nav_icon {
									span {
										&:before, &:after {
											background: #fff;
										}
									}
								}
							}
						}
					}
				}
			}
			#menu_header .menu_cont {
				.nav-toggle {
					color: #1a1715;
					font-weight: bold;
					&:hover {
						.nav_text {
							color: #fff;
						}
					}
					.nav_icon {
						background: #1a1715;
						span {
							background-color: transparent;
							&:before, &:after {
								margin-top: 0;
								background: #fff;
							}
							&:before {
								transform: rotate(45deg);
							}
							&:after {
								transform: rotate(-45deg);
							}
						}
					}
					.nav_text {
						color: #1a1715;
						font-weight: normal;
					}
				}
			}
		}
	}
	header {
		&.transparent {
			.menu_header(#fff);
		}
		&.white {
			.menu_header(#1a1715);
		}
		&.sticky {
			&.sticky-white {
				.menu_header(#1a1715);
			}
		}
		#menu_header {
			height: 60px;
			.home_link, .menu_cont {
				display: inline-block;
				vertical-align: middle;
			}
			.home_link {
				a, div {
					position: relative;
					display: block;
					&:hover {
						color: var(--main-expo-color);
					}
					svg path {
						fill: var(--main-expo-color);
					}
					span {
						position: absolute;
						font-family: @lora;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						font-size: 21px;
						font-weight: 500;
						color: var(--main-expo-color);
					}
					@media (max-width: 768px) {
						svg {
							width: 30px;
							height: 30px;
						}
					}
				}
			}
			.menu_cont {
				margin-left: 6px;
				padding-left: 10px;
				border-left: solid 1px #f3f3f3;
				.nav-toggle {
					color: #fff;
					display: block;
					position: relative;
					z-index: 200;
					&:hover {
						text-decoration: none;
						&:after {
							width: 100%;
						}
					}
					&:after {
						width: 0;
						position: absolute;
						left: 0;
						bottom: 0;
						height: 100%;
						content: "";
						background: var(--main-expo-color);
						transition: all 200ms ease-in-out;
						z-index: -1;
					}
					@media (min-width: 768px) {
						padding: 10px;
					}
					p {
						@media (min-width: 768px) {
							display: inline-block;
						}
						padding: 0;
						margin: 0;
						&.nav_icon {
							width: 25px;
							height: 25px;
							@media (max-width: 768px) {
								padding-top: 0px;
							}
							span {
								display: inline-block;
								position: relative;
								background-color: #fff;
								width: 25px;
								height: 2px;
								vertical-align: middle;
								&:before,
								&:after {
									content: '';
									display: block;
									width: 25px;
									height: 2px;
									position: absolute;
									background: #fff;
									transition-property: margin, transform;
									transition-duration: 300ms;

								}
								&:before {
									margin-top: -8px;
								}
								&:after {
									margin-top: 8px;
								}
							}
						}
						&.nav_text {
							@media (min-width: 768px) {
								padding-left: 10px;
							}
							line-height: 25px;
							font-size: 14px;
							color: #fff;
						}
					}
				}
				@media (max-width: 768px) {
					margin-left: 0;
					padding-left: 5px;
					.nav-toggle {
						p {
							&.nav_text {
								display: none;
							}
						}
					}
				}
			}
			.chapitre_cont {
				position: relative;
				width: 100%;
				text-align: right;
				.chapitre-nav-toggle {
					color: #fff;
					display: block;
					position: relative;
					height: 25px;
					z-index: 200;
					overflow: hidden;
					p {
						display: inline-block;
						vertical-align: top;
						position: relative;
						&.caret {
							margin-top: 2px;
							span {
								.transition(transform 100ms ease-in-out);
							}
						}
						&.nav_text {
							padding-left: 10px;
							font-size: 16px;
							.transition(top 200ms ease-in-out);
							text-align: right;
							width: calc(100% - 40px);
							@media (max-width: 576px) {
								display: none;
							}
						}
						span {
							margin-left: 10px;
							vertical-align: middle;
							display: block;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							height: 24px;
						}
					}
				}
			}
		}
	}

}