.modal-backdrop {
	background: #1a1715;
	&.show {
		opacity: 1;
	}
}

.modal {
	.modal-dialog {
		max-width: 700px;
		.modal-content {
			.border-radius(0px);
			.modal-header {
				border: none;
				.modal-title {
					width: 100%;
					text-align: center;
					font-family: @lora;
					font-size: 20px;
				}
			}
			.modal-body {
				padding: 50px 0;
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}