body.single-chapitre, body.single-oeuvre {
	.chapter_navigation, .oeuvre_navigation {
		background: #f3f3f3;
		padding: 60px 30px;
		@media (max-width: 768px) {
			padding: 20px 10px;
		}
		&.oeuvre_navigation {
			padding: 20px 0 0 0;
			margin-top: 20px;
			background: #fff;
			border-top: solid 2px var(--main-expo-color);
		}
		a {
			display: block;
			height: 100%;
			color: #1a1715;
			font-family: @lora;
			font-size: 24px;
			font-weight: 500;
			position: relative;
			padding-bottom: 30px;
			&:hover {
				color: var(--main-expo-color);
			}
			&.next {
				text-align: right;
				span {
					margin-left: 10px;
				}
				p {
					right: 0;
				}
			}
			&.prev {
				span {
					margin-right: 10px;
				}
			}
			p {
				font-family: @lato;
				font-size: 11px;
				font-weight: bold;
				text-transform: uppercase;
				margin-bottom: 0;
				line-height: 23px;
				position: absolute;
				bottom: 0;
			}
			@media (max-width: 768px) {
				font-size: 18px;
			}
		}
	}
}

