body.single, body.page, body.error404 {
	.overlay_cont {
		height: var(--app-height);
		.overlay {
			height: var(--app-height);
		}
	}
	.meta_cont {
		background: #f3f3f3;
		font-family: @lato;
		font-weight: bold;
		padding: 10px;
		margin: 10px auto;
		position: sticky;
		top:80px;
		@media (min-width: 576px) {
			padding: 0 0 10px 0;
			margin: auto;
		}
		@media (min-width: 768px) {
			margin-right: 0;
		}
		&.transparent {
			background: transparent;
			@media (max-width: 768px) {
				background: #f3f3f3;
			}
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			li {
				margin: 10px 0;
				@media (max-width: 768px) {
					margin: 0;
				}
				&.current_page_item {
					a[aria-current="page"] {
						color: var(--main-expo-color);
					}
				}
				a, span {
					font-family: @lato;
					font-size: 12px;
					font-weight: bold;
					color: #1a1715;
					text-transform: uppercase;
					&.colored {
						color: var(--main-expo-color);
					}
				}
			}
		}
		p {
			margin: 0;
			font-size: 12px;
			letter-spacing: 1.5px;
			span {
				margin-right: 10px;
			}
			&.category {
				color: #fff;
				position: absolute;
				top: -20px;
				left: 10px;
				padding: 5px 10px;
				text-transform: uppercase;
			}
			@media (min-width: 768px) {
				margin-bottom: 10px;
			}
		}
	}
	&.page, &.error404 {
		.wp-block-gallery {
			height: 100%;
			width: 100%;
			display: block;
			.transition(all 200ms linear);
			.blocks-gallery-grid {
				display: block;
				.blocks-gallery-item {
					display: inline-block;
					margin-bottom: 24px;
					overflow: hidden;
					figure {
						display: block;
						width: 100%;
						height: auto;
					}
					img {
						width: 100%;
						display: block;
						height: auto;
						.opacity(0);
						top: 20px;
						position: relative;
						&.show {
							.opacity(1);
							top: 0;
							&:hover {
								cursor: pointer;
								.opacity(0.7);
							}
						}
					}
				}
			}
		}
	}

	.mobx-holder {
		.mobx-desc {
			a[data-type="definition"] {
				background-color: transparent;
			}
		}
		.mobx-prev, .mobx-next {
			background: transparent;
			border: solid 1px;
			width: 44px;
			height: 44px;
			font-size: 11px;
			&:before {
				position: absolute;
				content: "\f340";
				transform: translate(-50%, -50%);
				font-family: 'dashicons';
				font-size: 20px;
				top: 50%;
				left: 50%;
			}
			&:hover {
				background: var(--main-expo-color);
				color: #fff;
				border-color: var(--main-expo-color);
				span {
					color: var(--main-expo-color);
				}
			}
			span {
				position: relative;
				text-transform: uppercase;
			}
		}
		.mobx-prev {
			&:before {
				content: "\f340";
			}
			span {
				left: 60px;
			}
		}
		.mobx-next {
			&:before {
				content: "\f344";
			}
			span {
				right: 60px;
			}
		}
		.mobx-top-bar {
			z-index: 2;
			button {
				background-color: var(--main-expo-color);
				&:focus {
					outline: none;
				}
				&.mobx-close {
					background-color: transparent;
				}
			}
		}
	}

	.single_footer {
		border-top: solid 3px var(--main-expo-color);
		text-align: center;
		margin-top: 40px;
		padding-top: 34px;
		p.author {
			font-family: @lora;
			font-size: 14px;
			font-weight: 500;
			color: rgba(0, 0, 0, 0.9);
		}
		p.share {
			a {
				display: inline-block;
				width: 30px;
				height: 30px;
				border: solid 1px var(--main-expo-color);
				.border-radius(100%);
				padding-top: 2px;
				&:hover {
					path {
						fill: #fff !important;
					}
				}
			}
		}
		@media (max-width: 768px) {
			margin-top: 0;
			margin-bottom: 10px;
			padding-top: 15px;
			p {
				margin-bottom: 3px;
			}
		}
	}
}
