body.single-oeuvre {
	height: var(--app-height);
	#main_content {
		height: calc(var(--app-height) - 100px);
		@media (max-width: 576px) {
			height: auto;
		}
		padding: 0;
		.nopadding {
			padding-left: 0;
			padding-right: 0;
		}
		.cont {
			margin-left: 0;
			margin-right: 0;
			background: #000;
			.thumb {
				overflow: hidden;
				position: relative;
				height: calc(var(--app-height) - 100px);
				padding-top: 20px;
				padding-bottom: 20px;
				@media (max-width: 576px) {
					height: calc(50vh - 100px);
					overflow: auto;
				}
				a {
					display: block;
					position: absolute;
					bottom: 20px;
					background: rgba(0, 0, 0, 0.5);
					text-transform: uppercase;
					padding: 10px 15px;
					font-weight: bold;
					font-size: 12px;
					.transition(background 500ms ease-in-out);
					&:hover {
						background: rgba(0, 0, 0, 0.8);
						color: var(--main-expo-color);
					}
					span {
						display: inline-block;
						margin-right: 10px;
						margin-top: -2px;
						vertical-align: middle;
					}
				}
				img {
					width: 100%;
					object-fit: cover;
					height: 100%;
				}
			}
			.content {
				height: calc(var(--app-height) - 100px);
				overflow: auto;
				background: #fff;
				@media (max-width: 576px) {
					overflow: auto;
					height: 100%;
				}
				h1 {
					font-size: 32px;
					font-weight: 600;
					margin-bottom: 30px;
				}
				p.pres {
					font-family: @lato;
					font-size: 11px;
					font-weight: bold;
					opacity: 0.6;
					color: #1a1715;
					text-transform: uppercase;
				}
				a {
					&:hover {
						color: #1a1715;
					}
				}
			}
		}
	}
}

