body.single-chapitre {
	#main_content {
		.chapter_title_cont {
			margin-top: 50px;
			border-top: solid 1px #e5e5e5;
		}
		h2 {
			color: var(--main-expo-color);
			padding: 50px 0;
			.chapter_number {
				font-weight: bold;
				font-size: 11px;
				text-transform: uppercase;
				text-align: center;
				display: block;
				color: #1a1715;
				letter-spacing: 1.5px;
				opacity: 0.6;
				font-family: @lato;
				margin-bottom: 10px;
			}
		}
		h3 {
			width: 100%;
			font-size: 20px;
			font-weight: 500;
			line-height: 1.8;
			letter-spacing: 0.17px;
			border-top: solid 1px #d9d9d9;
			padding-top: 10px;
		}
		h4 {
			font-size: 16px;
			font-weight: 600;
			line-height: 1.5;
			color: rgba(0, 0, 0, 0.9);
		}
		@media (max-width: 768px) {
			h2 {
				padding: 10px 0;
				font-size: 1.5rem;
				.chapter_number {
					margin-bottom: 5px;
				}
			}
		}
	}
	.overlay_cont {
		height: var(--app-height);
		.overlay {
			height: var(--app-height);
		}
	}
	#main_content {
		padding-top: 20px;
		a {
			&:hover {
				color: #1a1715;
			}
		}
	}

}