body.page-template-template-lecteur-video {
	overflow: hidden;
	.video_cont {
		width: 100%;
		height: calc(var(--app-height) - 100px - 80px); //- header - footer
		overflow: hidden;
		@media (max-width: 568px) {
			height: calc(var(--app-height) - 100px - 80px - 80px); //- header - footer - playlist
		}
		.video-js {
			.vjs-control {
				&:focus:before, &:hover:before, &:focus {
					outline: none;
				}
			}
			.vjs-control-bar {
				background-color: rgba(43, 51, 63, 0.0);
			}
			.vjs-big-play-button {
				left: 50%;
				top: 50%;
				border-radius: 100%;
				transform: translate(-50%, -50%);
				width: 100px;
				height: 100px;
				border: solid 1px var(--main-expo-color);
				.opacity(0.9);
				background: rgba(0, 0, 0, 0.3);
				&:focus {
					outline: none;
				}
				&:hover {
					background: var(--main-expo-color);
					opacity: 0.7;
				}
				.vjs-icon-placeholder {
					&:before {
						.opacity(0.8);
						line-height: 98px;
					}
				}
			}
			video {
				height: 100%;
				background: #1a1715;
				object-fit: cover;
			}
		}
	}
	.video_info {
		background: #000;
		height: 80px;
		width: 100%;
		padding: 5px 0;
		overflow: hidden;
		@media (max-width: 568px) {
			height: 160px;
		}
		.pres {
			height: 73px;
			h1 {
				color: #fff;
				font-family: @lora;
				font-weight: 500;
				font-size: 24px;
				padding: 14px 0;
				margin: 0;
				span {
					@media (max-width: 768px) {
						font-size: 17px;
					}
					&.titre {
						font-family: @lato;
						font-weight: bold;
						display: block;
						font-size: 11px;
						text-transform: uppercase;
						height: 20px;
						letter-spacing: 1.5px;
					}
					&.caption {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						display: block;
						width: 100%;
					}
				}
			}
		}
		.playlist {
			@import "./swiper.less";
			.swiper-container {
				margin-right: 0;
				.video {
					float: left;
					width: 140px;
					position: relative;
					padding: 0 5px;
					@media (max-width: 768px) {
						width: 40%;
					}
					a {
						display: block;
						position: relative;
						&:hover {
							.progress {
								background: transparent;
							}
						}
						video {
							width: 100%;
							height: 70px;
							object-fit: cover;
						}
						.play_icon {
							color: #fff;
							z-index: 1;
							text-align: center;
							line-height: 40px;
							font-family: @lora;
							font-weight: 500;
							background-color: rgba(0, 0, 0, 0.3);
						}
						.progress {
							position: absolute;
							top: 0;
							right: 0;
							width: 100%;
							height: 100%;
							background-color: rgba(0, 0, 0, 0.55);
							.border-radius(0);
							.transition(background 200ms linear);
						}
					}
				}
			}
		}
	}
}
