body.page-template-template-agenda-borne {
	.container-fluid {
		padding: 0;
	}
	.sidebar {
		background-size: contain;
		background-repeat: no-repeat;
		height: var(--app-height);
		padding: 20px;
		h1 {
			color: #fff;
			font-family: @lora;
			font-size: 72px;
			font-weight: 500;
			line-height: 1.04;
		}
		.banner {
			color: #fff;
			padding: 10px 20px;
			font-size: 20px;
			font-weight: 800;
			margin-left: -20px;
			text-transform: uppercase;
			display: inline-block;
		}
	}
	.agenda_cont {
		background: #f3f3f3;
		padding: 20px;
		padding-bottom: 0;
		height: calc(var(--app-height) - 130px);
		overflow: hidden;
		.swiper-container {
			height: 100%;
			.swiper-wrapper {
				height: 100%;
				.swiper-slide {
					background-color: #f3f3f3;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					position: relative;
					.actu_content {
						background: #fff;
						position: absolute;
						bottom: 0;
						width: 95%;
						.meta_cont {
							height: 100%;
							background: var(--main-expo-color);
							width: auto;
							padding-bottom: 0;
							.meta {
								color: #fff;
								font-family: @lato;
								font-size: 15px;
								font-weight: 800;
								padding: 10px;
								text-align: center;
								position: relative;
								top: 50%;
								transform: translateY(-50%);
								p {
									margin-bottom: 0;
									span {
										font-size: 35px;
										font-weight: 900;
										display: inline-block;
										vertical-align: middle;
										line-height: 1.2;
									}
								}
							}
						}
						.title_cont {
							padding: 10px 0;
							p {
								margin-bottom: 0;
								&.category {
									font-size: 20px;
									font-weight: bold;
									text-transform: uppercase;
								}
								&.place {
									font-size: 15px;
									font-weight: normal;
								}
							}
							h2 {
								font-family: @lora;
								font-size: 20px;
								font-weight: 500;
								line-height: 32px;
							}
						}
					}
				}
			}
		}
	}
	.page_content {
		background: #f3f3f3;
		padding: 20px;
		height: 130px;
		font-size: 22px;
		font-weight: 500;
		line-height: 1.64;
		letter-spacing: 1.25px;
	}
}
